.login {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 10vh 80vh 10vh;
    background-color:white;
}

.login_left{
    grid-column: 1 / 2;
    grid-row: 1 / 3;

    display: grid;
    grid-template-rows: 10fr 90fr;
    background: white;
}

.login_left .top{
    grid-row: 1 / 2;
    position: absolute;
    top: 10px;
    left: 25px;
}

.login_left .top img{
    height:35px;
    width:35px;
}

.login_left .bottom{
    grid-row: 2 / 3;
    display: block;
    text-align:center;
}

.login_left .bottom img{
    flex-direction: column;
    height: 100%;
    object-fit: contain;
    width: 80%;
    top:50%;
}

.login_right{
    grid-column: 2 / 3;
    grid-row: -4 / -1;

    display: grid;
    grid-template-columns: 25fr 50fr 25fr;
    grid-template-rows: 30fr 60fr 30fr;
    background: #303030;
}

.login_form{
    grid-column: 2 / 3;
    grid-row: 2 / 2;
    background: white;
    color:black;
    height: 560px auto;
    width: 540px;
    border-radius: 7px;
    padding: 0px 70px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
    padding-top: 97px;
    padding-bottom: 97px;
}

.login-header
{
    margin-bottom: 28px;
    font-size: 40px;
    font-weight: 500;
}

.login-body input {
    width: 100%;
    height: 55px;
    border: none;
    color: black;
    border-radius: 3px;
    margin-top: 5px;
    background-color: lightgrey;
    padding:0px 0px 0px 10px
}

.login-body p {
    margin-top: 5px;
}

.login-body button
{
    margin-top: 10px;
    background-color: #4a80ff;
    font-size: 17px;
    color: #ffffff;
    font-weight: 50;

    width: 100%;
    height: 50px;
    border: none;
    color: white;
    border-radius: 3px;
}

.button_list button
{
    margin-top: 10px;
    background-color: #4a80ff;
    font-size: 17px;
    color: #ffffff;
    font-weight: 50;

    width: 100%;
    height: 50px;
    border: none;
    color: white;
    border-radius: 3px;
}

{/* 회원 가입 버튼 스타일 */}
.sign_up_link
{
    color:#4A80FF;
}

.sign_up_link:hover
{
    text-decoration: underline;
}

.sign_up_link:visited
{
    color:#4A80FF;
}



