.rw-widget {
  border: none;
  color: #212529;
  font-size: 1em;
  font-family: inherit;
  outline: none;
  position: relative;
  width:100%;
}

.rw-widget-picker {
  display: grid;
  overflow: hidden;
  min-height: 35px;
  background-color: #fff;
  border: #ccc 1px solid;
  border-radius: 4px;
  outline: none;
  grid-template: 1fr/1fr 1.9em;
  width: 100%;
}

.rw-btn {
  padding: 0;
  margin: 0;
  border: none;
  color: inherit;
  box-shadow: none;
  background: none;
  font: inherit;
  line-height: inherit;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  outline: 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-clip: padding-box;
  cursor: pointer;
}

.rw-input {
  padding: 0;
  margin: 0;
  border: none;
  color: inherit;
  box-shadow: none;
  background: none;
  font: inherit;
  line-height: inherit;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  outline: 0;
  padding: 0 0.857em;
}

.rw-list-option.rw-state-selected, .rw-state-selected.rw-list-option-create {
  background-color: #448FFF;
  color: #fff;
}

.rw-list-empty,
.rw-list-option
{
  padding: 0.25em 1.5em;
  outline: none;
}

.rw-popup-container {
  position: absolute;
  z-index: 1005;
  top: 100%;
  left: -1em;
  right: -1em;
  padding: 0 1em;
}

.rw-state-focus .rw-popup-container {
  z-index: 1006;
}

.rw-popup {
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  margin-top: 2px;
  border-radius: 4px;
  box-shadow: 0 0.5em 1em rgba(0, 0, 0, 0.175);
  border: #ccc 1px solid;
  background-clip: padding-box;
  background: #fff;
}

.rw-popup .rw-list {
  max-height: 190px;
}

.rw-slide-transition-entering {
  overflow: hidden;
}

.rw-slide-transition-exited {
  display: none;
}
