.sidebar_main
{
    text-align: center;

    display: flex;
    align-items: center;
    /* justify-content: center; */
    font-size: 30px;
}

.sidebar_item .item{
    height:60px;
    width: 265px;
    color: #6c7890;
    cursor: pointer;

    border-radius: 0px 10px 10px 0px;
    border-bottom: 2px solid;
    border-top: 2px solid;
    border-right: 2px solid;
    border-left: 0px solid transparent;
    border-color: transparent;
    border: 3px solid transparent;

    display: flex;
    align-items: center;
    /* justify-content: center; */
    padding-left:30px;
    background-color:#ececec;
}


.sidebar_item .burger_item{
    height:60px;
    width: 60px;
    color: #6c7890;
    cursor: pointer;

    border-radius: 0px 10px 10px 0px;
    border-bottom: 2px solid;
    border-top: 2px solid;
    border-right: 2px solid;
    border-left: 0px solid transparent;
    border-color: transparent;
    border: 3px solid transparent;

    display: flex;
    align-items: center;
    justify-content: center;
    z-index:50;
}

.item_text{
    font-size: 17px;
    font-weight: 400;
    margin-left:25px;
}

#project_button_icon
{
   background: url("../images/icons/icon_3x/project_mgmt.png") no-repeat;
   background-size: 20px;
   background-position-y: center;
}

#data_button_icon
{
   background: url("../images/icons/icon_3x/data_mgmt@3x.png") no-repeat;
   background-size: 20px;
   background-position-y: center;
}

#visual_button_icon
{
   background: url("../images/icons/icon_3x/visualization.png") no-repeat;
   background-size: 20px;
   background-position-y: center;
}

#logout_button_icon
{
   background: url("../images/icons/icon_3x/return@3x.png") no-repeat;
   background-size: 20px;
   background-position-y: center;
}

ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li{
    margin-bottom: 20px;
}

.sidebar_burger-menu {
  display: block;
  cursor: pointer;
  margin-left: 18px;
  z-index: 999;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  position: relative;
}


.short{
    margin-bottom: 0px;
}

.short_sidebar_item{
    height:60px;
    width: 60px;
    cursor: pointer;
    display: block;
}

.short .short_item{
    height:60px;
    width: 60px;
    color: #6c7890;
    cursor: pointer;
    align-items: center;
    justify-content: center;
}

.short_sidebar_item #home_icon
{
   background: url("../images/icons/icon_3x/DF_logo.png") no-repeat;
   background-size: 22px;
   background-position-y: center;
   background-position-x: center;
}

.short_sidebar_item #project_icon
{
   background: url("../images/icons/icon_3x/project_mgmt.png") no-repeat;
   background-size: 22px;
   background-position-y: center;
   background-position-x: center;
}

.short_sidebar_item #data_icon
{
   background: url("../images/icons/icon_3x/data_mgmt@3x.png") no-repeat;
   background-size: 22px;
   background-position-y: center;
   background-position-x: center;
}

.short_sidebar_item #visual_icon
{
   background: url("../images/icons/icon_3x/visualization.png") no-repeat;
   background-size: 22px;
   background-position-y: center;
   background-position-x: center;
}

.short_sidebar_item #home_icon:hover
{
   background: url("../images/icons/icon_3x/DF_logo_on.png") no-repeat;
   background-size: 22px;
   background-position-y: center;
   background-position-x: center;
}

.short_sidebar_item #project_icon:hover
{
   background: url("../images/icons/icon_3x/project_mgmt_on@3x.png") no-repeat;
   background-size: 22px;
   background-position-y: center;
   background-position-x: center;
}

.short_sidebar_item #data_icon:hover
{
   background: url("../images/icons/icon_3x/data_mgmt_on@3x.png") no-repeat;
   background-size: 22px;
   background-position-y: center;
   background-position-x: center;
}

.short_sidebar_item #visual_icon:hover
{
   background: url("../images/icons/icon_3x/visualization_on.png") no-repeat;
   background-size: 22px;
   background-position-y: center;
   background-position-x: center;
}
