@media screen {
    
  .modal {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border: solid 1px #fff;
    z-index: 99;
    background-color: rgba(0, 0, 0, 0.6);
  }
  .modal button {
    outline: none;
    cursor: pointer;
    border: 0;
  }
  .modal > section {
    width: 90%;
    max-width: 400px;
    margin: 0 auto;
    border: solid 1px #fff;
    border-radius: 10px;
    background-color: #fff;
    /* 팝업이 열릴때 스르륵 열리는 효과 */
    animation: modal-show 0.3s;
    overflow: hidden;
  }
  .modal > section > header {
    position: relative;
    padding: 0px 0px 0px 18px;
    background-color: #191c22;
    border: solid 1px #fff;
    font-size: 17px;
  }


  .modal > section > header button.close {
    margin-left: 50%;
    padding: 10px 12px;
    color: #fff;
    background-color: #191c22;
    border-left: 2px solid #dee2e6;
    font-size: 17px;
    text-align: center;

  }
  .modal > section > header button.save {

    padding: 10px 12px;
    color: #fff;
    background-color: #191c22;
    border-left: 2px solid #dee2e6;
    font-size: 17px;
    text-align: center;

  }

  .modal > section > main {
    padding: 16px;
    border: solid 1px #fff;
    background-color: #191c22;
    font-size: 17px;
  }
  .modal > section > main > div > input {
    background-color: #191c22;
    color:#dee2e6;
    border-bottom-color: #dee2e6;
    border-right-color: #191c22;
    border-top-color: #191c22;
    border-left-color: #191c22;
  }
  .modal > section > main > div > EditText {
    background-color: #191c22;
    color:#dee2e6;
    border-bottom-color: #dee2e6;
    border-right-color: #191c22;
    border-top-color: #191c22;
    border-left-color: #191c22;
  }
  .modal > section > footer {
    padding: 12px 16px;
    text-align: right;
  }
  .modal > section > footer button {
    padding: 6px 12px;
    color: #fff;
    background-color: #191c22;
    font-size: 13px;
  }
  .modal.openModal {
    display: flex;
    align-items: center;
    /* 팝업이 열릴때 스르륵 열리는 효과 */
    animation: modal-bg-show 0.3s;
  }
}

@media screen and (max-width: 460px) {
    
  .modal {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border: solid 1px #fff;
    z-index: 99;
    background-color: rgba(0, 0, 0, 0.6);
  }
  .modal button {
    outline: none;
    cursor: pointer;
    border: 0;
  }
  .modal > section {
    width: 90%;
    max-width: 400px;
    margin: 0 auto;
    border: solid 1px #fff;
    border-radius: 10px;
    background-color: #fff;
    /* 팝업이 열릴때 스르륵 열리는 효과 */
    animation: modal-show 0.3s;
    overflow: hidden;
  }
  .modal > section > header {
    position: relative;
    padding: 0px 0px 0px 18px;
    background-color: #191c22;
    border: solid 1px #fff;
    font-size: 17px;
  }


  .modal > section > header button.close {
    margin-left: 6px;
    padding: 10px 12px;
    color: #fff;
    background-color: #191c22;
    border-left: 2px solid #dee2e6;
    font-size: 17px;
  }
  .modal > section > header button.save {

    padding: 10px 12px;
    color: #fff;
    background-color: #191c22;
    border-left: 2px solid #dee2e6;
    font-size: 17px;
  }

  .modal > section > main {
    padding: 16px;
    border: solid 1px #fff;
    background-color: #191c22;
    font-size: 17px;
  }
  .modal > section > main > div > input {
    background-color: #191c22;
    color:#dee2e6;
    border-bottom-color: #dee2e6;
    border-right-color: #191c22;
    border-top-color: #191c22;
    border-left-color: #191c22;
  }
  .modal > section > main > div > EditText {
    background-color: #191c22;
    color:#dee2e6;
    border-bottom-color: #dee2e6;
    border-right-color: #191c22;
    border-top-color: #191c22;
    border-left-color: #191c22;
  }
  .modal > section > footer {
    padding: 12px 16px;
    text-align: right;
  }
  .modal > section > footer button {
    padding: 6px 12px;
    color: #fff;
    background-color: #191c22;
    font-size: 13px;
  }
  .modal.openModal {
    display: flex;
    align-items: center;
    /* 팝업이 열릴때 스르륵 열리는 효과 */
    animation: modal-bg-show 0.3s;
  }
}



@keyframes modal-show {
  from {
    opacity: 0;
    margin-top: -50px;
  }
  to {
    opacity: 1;
    margin-top: 0;
  }
}
@keyframes modal-bg-show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media screen and (max-width: 460px) {

}
