/* --------------------------------------- */
/* ----- 프로젝트 생성 상단 페이지 이동 경로 ----- */
/* --------------------------------------- */

/*
.PMgmtRouter-item {
  height: 70%;
  color: #black;
  display: flex;
  background-color: #DFDFDF;
  border-radius: 5px;
}
*/

.PMgmtRouter-item {
  height: 100%;
  color: #black;
  background-color: #DFDFDF;
  border-radius: 5px;
}


.PMgmtRouter-item .PMgmtRouter-title {
  margin: 0px 20px;
  font-size: 16px;
  height: 100%;
  background-color: #DFDFDF;
  align-items: center;
  cursor: pointer;
}

.PMgmtRouter-item .PMgmtRouter-description{
  font-size: 16px;
  width : 100%;
  display: flex;
  align-items: center;
  cursor: pointer;
  background-color: #DFDFDF;
}

.PMgmtRouter-item .PMgmtRouter-description input{
  width : 100%;
  height: 80%;

  border : 0px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  cursor: pointer;
  padding : 0 0.857em;
}


.PMgmtRouter-item .PMgmtRouter-select {
  margin: 0px 20px;
  font-size: 16px;
  height: 100%;
  display: flex;
  align-items: center;
  cursor: pointer;
}



/*
.PMgmtRouter-item .PMgmtRouter-select {
  margin: 0px 20px;
  font-size: 16px;
  height: 100%;
  display: flex;
  align-items: center;
  cursor: pointer;
}
*/


.PMgmtRouter-item div {
  display: flex;
  align-items: center;
}


.PMgmtRouter-item .PMgmtRouter-select.active {
  color: white;
  position: relative;
}
.PMgmtRouter-item .PMgmtRouter-select.active div {
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 4px;
  background-color: #448fff;
  border-radius: 20px;
  border: none;
}
