.progressbar li
{
    margin-bottom:0px;
    content:'';
}


{/* 첫번째 가로 라인 왼쪽 */}
.progressbar li:first-child:after {
     content: none;
}

.progressbar li {
    list-style-type: none;
    width: 25%;
    display:inline-block;
    font-size: 16px;
    position: relative;
    text-align: center;
    {/* text-transform: uppercase; */}
    {/* color: #535A65; */}
    color: white;
}

.progressbar li:before {
    width: 150px;
    height: 40px;
    content: "";
    line-height: 40px;
    display: block;
    text-align: center;
    margin: 0 auto 3px auto;
    border-radius: 5px;
    position: relative;
    z-index: 2;
    background-color: #242933;
    content: counter(step);
    counter-increment: step;
}

{/* 프로그래스 바 라인 */}
.progressbar li:after {
     width: 100%;
     height: 2px;
     content: '';
     position: absolute;
     background-color: black;
     top: 20px;
     left: -50%;
     z-index: 0;
}

{/* 프로그래스 바 진행 완료 */}
.progressbar li.complete::before
{
    background-color: #4A80FF;
    background: #4A80FF no-repeat center center;
    background-size: 60%;
    border: 3px solid #4A80FF;
    color: white;
}

.progressbar li.complete .list_text
{
    color: #4A80FF;
}

.progressbar li.complete + li:after {
    background-color: #4A80FF;
}

{/* 프로그래스 바 진행 중 */}
.progressbar li.active
{
    background-color: transparent;
}

.progressbar li.active::before
{
    background-color: #242933;
    background: #242933 no-repeat center center;
    background-size: 60%;
    border: 3px solid #4A80FF;
    animation: twinkle 1s linear infinite;
}

@keyframes twinkle
{
    0%
    {
        background-color: #242933;
    }
    50%
    {
        background-color: #4A80FF;
    }
    100%
    {
        background-color: #242933;
    }
}

{/* 프로그래스 바 활성화 */}
.progressbar li.ready::before
{
    background-color: #242933;
    background: #242933 no-repeat center center;
    background-size: 60%;
    border: 3px solid #4A80FF;
    color: #FFFFFF;
}

.progressbar li.ready .list_text
{
    color: black;
}

{/* 프로그래스 바 진행 전 */}
.progressbar li.before::before
{
    background-color: #2C313C;
    background: #2C313C no-repeat center center;
    background-size: 60%;
    border: 1px solid #535A65;
    color: #535A65;
}

.progressbar li.before .list_text
{
    color: #535A65;
}









.stepper-wrapper2 {
  display: flex;
  justify-content: space-between;
}

.stepper-item2 {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
 font-size: 16px;
 background-color: transparent;
}

.stepper-item2::before {
  position: absolute;
  content: "";
  border-bottom: 5px solid #303030;
  width: 100%;
  top: 16px;
  left: -50%;
  z-index: 2;
}

.stepper-item2::after {
  position: absolute;
  content: "";
  border-bottom: 5px solid #303030;
  width: 100%;
  top: 16px;
  left: 50%;
  z-index: 2;
}

.stepper-item2 .step-counter2 {
  font-size:16px;
  position: relative;
  z-index: 5;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 160px;
  height: 40px;
  border-radius: 5px;
  background: #DEDEDE;
  color: white;
}

.stepper-item2.ready .step-counter2 {
    border: 3px solid #4A80FF;
    color: black;
}

.stepper-item2.active .step-counter2 {
    border: 3px solid #4A80FF;
    background-color: #242933;
    background: #242933 no-repeat center center;
    background-size: 60%;
    border: 3px solid #4A80FF;
    animation: twinkle 1s linear infinite;
}

@keyframes twinkle
{
    0%
    {
        background-color: #242933;
    }
    50%
    {
        background-color: #4A80FF;
    }
    100%
    {
        background-color: #242933;
    }
}

.stepper-item2.before .step-counter2 {
    border: 3px solid #303030;
    color: black;
}

.stepper-item2.completed .step-counter2 {
  background-color: #4A80FF;
}

.stepper-item2.completed::after {
  position: absolute;
  content: "";
  border-bottom: 5px solid #4A80FF;
  width: 100%;
  top: 16px;
  left: 50%;
  z-index: 3;
}

.stepper-item2:first-child::before {
  content: none;
}
.stepper-item2:last-child::after {
  content: none;
}



.stepper-item2.non-select .step-counter2 {
    border: 3px solid #303030;
    color: black;
}

.stepper-item2.select .step-counter2 {
    background-color: #4A80FF;
}












