.tooltip {
  position: relative;
  display: inline-block;
  z-index:10;
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  background-color: #4A80FF;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 5px;

  /* Position the tooltip text - see examples below! */
  position: absolute;
  left: 115%;
  transform: translateY(40%);
  z-index:11;
}


.tooltip:hover .tooltiptext {
  visibility: visible;
}

.tooltip .tooltiptext::after {
  content: " ";
  position: absolute;
  top: 50%;
  right: 100%; /* To the left of the tooltip */
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent #4A80FF transparent transparent;
}



/* Tooltip text */
.tooltip .dataset_tooltiptext {
  width:100%;
  visibility: hidden;
  background-color: #4A80FF;
  color: #fff;
  text-align: center;
  padding: 10px;
  border-radius: 5px;

  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
  left: -5%;
  top:-3%;
}

.tooltip:hover .dataset_tooltiptext {
  visibility: visible;
}

.tooltip .dataset_tooltiptext::after {
  content: "";

  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #4A80FF transparent transparent transparent;
}



/* Dataset - tool tip 20221208*/
.tooltip .dataset_tooltip
{
    width:100%;
    height:100%;
    margin: 0px;
    visibility: hidden;
    background-color: #303030;
    color: #fff;
    text-align: center;
    opacity: 0.7;
    position: absolute;
    z-index: 1;
}

.tooltip:hover .dataset_tooltip {
    visibility: visible;
}

.tooltip .dataset_tooltip_text {

    width:100%;
    height:100%;
    margin: 0px;
    visibility: hidden;
    text-align: center;
    position: absolute;
    z-index: 2;
    display: inline-grid;
}

.tooltip:hover .dataset_tooltip_text {
    visibility: visible;
}

.tooltip .dataset_tooltip_text .dataset_inner_text{
    width:100%;
    height:100%;
    margin: 0px;
    visibility: hidden;
    color: #FFF;
    text-align: left;
    opacity: 1;
    z-index: 3;
    font-size: 14px;
}

.tooltip:hover .dataset_tooltip_text .dataset_inner_text{
    visibility: visible;
}





/* Target - tool tip 20221208*/
.tooltip .target_tooltip
{
    width:100%;
    height:100%;
    margin: 0px;
    visibility: hidden;
    background-color: #303030;
    color: #fff;
    text-align: center;
    opacity: 0.7;
    position: absolute;
    z-index: 1;
}

.tooltip:hover .target_tooltip {
    visibility: visible;
}

.tooltip .target_tooltip_text {

    width:100%;
    height:100%;
    margin: 0px;
    visibility: hidden;
    text-align: center;
    position: absolute;
    z-index: 2;
    display: inline-grid;
}

.tooltip:hover .target_tooltip_text {
    visibility: visible;
}

.tooltip .target_tooltip_text .target_inner_text{
    width:100%;
    height:100%;
    margin: 0px;
    visibility: hidden;
    color: #FFF;
    text-align: left;
    opacity: 1;
    z-index: 3;
    font-size: 14px;
}

.tooltip:hover .target_tooltip_text .target_inner_text{
    visibility: visible;
}









/* Tooltip text */
.tooltip .select_tooltiptext {
  width:100%;
  visibility: hidden;
  background-color: white;
  color: #303030;
  text-align: center;
  padding: 10px;
  border-radius: 5px;

  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 999;
  left: 50%;
  top:-10%;
  border: 3px solid #303030;
}

.tooltip:hover .select_tooltiptext {
  visibility: visible;
}









