services:
  #---------------------------------
  # Project Manager
  #---------------------------------
  project_manager:
    build:
      context: ./project_manager
    command: >
      sh -c "chmod 777 ./wait_for_postgres.sh &&
             ./wait_for_postgres.sh &&
             python manage.py migrate &&
             python manage.py loaddata base_model_data.json &&
             python manage.py runserver 0.0.0.0:8085"
    volumes:
      - ./project_manager:/code
      - shared:/shared
      - ${configYaml:-./autonn/autonn/autonn_core/tango/common/cfg}:/configYaml
      - /var/run/docker.sock:/var/run/docker.sock

    hostname: projectmanager
    ports:
      - "8085:8085"
    environment:
      - POSTGRES_NAME=postgres
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - CONFIG_YAML_PATH=/configYaml
    depends_on:
      - postgresql

  #---------------------------------
  # DB for Project Manager
  #---------------------------------
  postgresql:
    image: postgres:15.4
    restart: always
    volumes:
      - postgreSQL:/var/lib/postgresql/data
    environment:
      - POSTGRES_NAME=postgres
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres

  #---------------------------------
  # Labelling tool
  #---------------------------------
  labelling:
    build:
      context: ./labelling
    volumes:
      - ./labelling/dataset:/var/appdata
      - ./labelling/datadb:/var/lib/mysql
      - shared:/shared
    ports:
      - "8086:80" # for Web UI
      - "8095:10236" # for Rest API

  #---------------------------------
  # AutoNN: AutoNN
  #---------------------------------
  autonn:
    build:
      context: ./autonn/autonn
    shm_size: "256M"
    ipc: host
    command: >
      sh -c "python manage.py makemigrations &&
             python manage.py migrate &&
             python manage.py runserver 0.0.0.0:8100"
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: all
              capabilities:
                - gpu
                - utility
                - compute
                - video
    volumes:
      - ./autonn/autonn:/source
      - shared:/shared
    hostname: autonn
    ports:
      - "8100:8100" # visualizer (vision model)

  #---------------------------------
  # AutoNN_CL: AutoNN_CL (중앙대 개발 - 기본 구조 제공)
  #---------------------------------
  autonn_cl:
    build:
      context: ./autonn_cl/autonn_cl
    shm_size: "256M"
    ipc: host
    command: >
      sh -c "python manage.py makemigrations &&
              python manage.py migrate &&
              python manage.py runserver 0.0.0.0:8102"
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: all
              capabilities:
                - gpu
                - utility
                - compute
                - video
    volumes:
      - ./autonn_cl/autonn_cl:/source
      - shared:/shared
    hostname: autonn-cl
    ports:
      - "8102:8102"

  #---------------------------------
  # code_gen Build
  #---------------------------------
  code_gen:
    build:
      context: ./deploy_codegen/optimize_codegen
    hostname: codeGen
    volumes:
      - ./deploy_codegen/optimize_codegen:/source
      - shared:/tango
    command: >
      sh -c "cd /app && python3 code_gen.py"
    ports:
      - 8888:8888

  #---------------------------------
  # Cloud deploy (with target image build)
  #---------------------------------
  cloud_deploy:
    hostname: cloud-deploy
    build:
      context: ./deploy_targets/cloud
    environment:
      - CLOUD_MANAGER_PORT=8088
      # GCP auth settings
      - GOOGLE_APPLICATION_CREDENTIALS=/source/cloud_manager/service-account-file.json
      - GCP_REGION=asia-northeast3
      - GCP_PROJECT_ID=tango-project
    volumes:
      - ./deploy_targets/cloud:/source
      - /var/run/docker.sock:/var/run/docker.sock
      - shared:/shared
    ports:
      - "7007:7007" # image builder (API)
      - "8080:8080" # image builder (GUI)
      - "8890:8890" # cloud manager

  #---------------------------------
  # ondevice_deploy Build
  #---------------------------------
  ondevice_deploy:
    hostname: ondevice
    build:
      context: ./deploy_targets/ondevice
    volumes:
      - ./deploy_targets/ondevice:/source
      - shared:/tango
    command: >
      sh -c "cd /app && python3 ondevice_deploy.py"
    ports:
      - 8891:8891

  #---------------------------------
  # Volumes
  #---------------------------------
volumes:
  registry_data: {}
  postgreSQL: # for Proejct Manager
  shared: # shared Directory
