.bluai-sidebar {
  position: fixed;
  width: 200px;
  background: #000;
  height: 100vh;
  z-index: 997;
  text-align: left;
  top: 0px;
  left: 0px;
  user-select: none;
  box-shadow: 1px 1px 1px 0px #3e3e3ec4;
  transition: width 0.2s linear;
  will-change: width;
  .bluai-logo {
    height: 50px;
    padding: 10px 10px 10px 10px;
    cursor: pointer;
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;
    overflow: hidden;
    white-space: nowrap;
    &-img {
      margin-top: 2px;
      background-image: url(../../img/logo/bluai.png);
      background-size: 30px 30px;
      width: 30px;
      height: 30px;
    }
    &-text {
      padding-left: 20px;
      &-title {
        font-size: 18px;
        color: white;
        font-weight: 700;
      }
      &-subtitle {
        font-size: 1px;
        color: white;
        margin-top: -4px;
      }
    }
  }
  .bluai-group {
    font-size: 10px;
    color: #888;
    padding: 10px 10px 0px 13px;
    font-weight: 700;
    margin-bottom: 10px;
  }
  .bluai-link {
    color: white;
    padding: 5px 10px 5px 15px;
    height: 45px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    overflow: hidden;
    white-space: nowrap;
    &:hover {
      font-weight: 700;
      background: rgb(46, 46, 46);
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
      cursor: pointer;
    }
    &-icon {
      width: 30px;
      height: 40px;
      font-size: 20px;
      margin-top: -4px;
    }
    &-text {
      padding-left: 5px;
      &-title {
      }
      &-subtitle {
        font-size: 10px;
        color: #888;
      }
    }
  }

  .bluai-link-selected {
    font-weight: 700;
    background: rgb(46, 46, 46);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
  }

  .bluai-sidebar-user {
    text-align: center;
    margin-top: 0.5rem;
    padding: 0.85rem 0.55rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    background: rgba(255, 255, 255, 0.125);
    .user {
      &-icon {
        display: inline-flex;
        font-size: 32px;
        svg {
          color: #ddd;
        }
      }
      &-logout {
        cursor: pointer;
        display: flex;
        align-items: center;
      }
      &-down {
        margin-bottom: 0.2rem;
        margin-right: 1rem;
      }
      &-text {
        text-align: left;
        margin-left: 12px;
        line-height: 1.2;
        width: 65%;
        &-title {
        }
        &-subtitle {
          color: rgb(134, 134, 134);
          font-size: 10px;
        }
      }
    }
  }

  .bluai-sidebar-footer {
    position: absolute;
    bottom: 20px;
    text-align: center;
    width: 100%;
    left: 0px;
    cursor: pointer;
    &:hover {
      font-weight: 700;
    }
  }
}

.bluai-sidebar-collapse {
  width: 50px;
  transition: width 0.22s linear;
  will-change: width;
}

.display-none {
  visibility: hidden;
}
