.vt_thumb {
  width: 90px;
  height: 40px;
  border: 1px solid #bbbbbb;
}

.vt-table {
  color: black;
}

.ReactVirtualized__Table__headerRow.vt-header {
  border-bottom: 1px solid #bbbbbb;
}

.ReactVirtualized__Table__headerTruncatedText {
  vertical-align: middle;
}
