[client]
default-character-set=utf8mb4

[mysql]
default-character-set=utf8mb4

[mysqld]
collation-server=utf8mb4_unicode_ci
character-set-server=utf8mb4
lower_case_table_names = 1
innodb_buffer_pool_size = 1G
max_connections = 1024
thread_pool_max_threads = 1024
max_allowed_packet = 1073741824
net_buffer_length = 1048576

## Innodb settings to bypass error of max size 737
innodb-file-format = Barracuda
innodb-file-per-table = ON
innodb-large-prefix = ON

## Above 3 didnot work so i added below
innodb_default_row_format = dynamic

[mysqldump]
default-character-set=utf8mb4
